html, body, header, footer, section, article, div {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/img/test.jpg');
}

a {
    outline: none;
    text-decoration: none;
}

#wrapper, #menu,
#r_left, #r_left>a,
#r_right, #r_right>a {
    position: absolute;

    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 100%;
}

#wrapper {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('/img/base/base2.png');
}

#menu {
    bottom: 1%;
    width: 14%;
    height: 11%;
    right: 1%;
    background-image: url('/img/menu.png');
}

#r_left {
    bottom: 1.2%;
    left: 18%;
    width: 9.9810%;
    height: 35.2156%;
    background-image: url('/img/joystick/base1.png');
}

#r_left>a {
    top: 0%;
    left: -39%;
    width: 179%;
    height: 101%;
    background-image: url('/img/joystick/joystick1.png');
}

#r_right {
    bottom: 7.5%;
    right: 14%;
    width: 17.216%;
    height: 11.981%;
    background-image: url('/img/joystick/base2.png');
}

#r_right>a {
    top: -7%;
    right: -7%;
    width: 106%;
    height: 169%;
    background-image: url('/img/joystick/joystick1.png');
}

